
#break-label{
    font-size: 20px;
    color: pink;
    font-weight: bold;
  }
  
  #break-decrement{
    font-size: 20px;
    color: pink;
    font-weight: bold;
  }
  #break-increment{
    font-size: 20px;
    color: pink;
    font-weight: bold;
  }
  #break-length{
    font-size: 20px;
    color: pink;
    font-weight: bold;
  }